#blogFirst {
    width: 30%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    background-color: #272727;
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
}




#blogFirst:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
    transform: translateY(-4px);
}






#blogFirst p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}


#blog-pic {
    width: 75%;
    height: 70%;
    border-radius: 10px;
}


#infoAboutBlog {
    width: 90%;
    min-height: 500px;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;

}

#infoAboutBlog h1,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}











@media(max-width:1100px) {
    #blogFirst {
        width: 40%;
    }

}


@media(max-width:800px) {
    #blogFirst {
        width: 50%;
    }

}

@media(max-width:600px) {
    #blogFirst {
        width: 70%;
        height: 250px;
        margin: 20px;
    }

}

@media(max-width:400px) {
    #blogFirst {
        width: 80%;
    }

}