#mainFooter {
    width: 100%;
    min-height: 450px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerFooter {
    width: 90%;
    height: 100%;
}


#topFooter {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 50px;
    align-items: center;
}

#footer-logo {
    width: 15%;
    height: 150px;
}

.endpointsFooter {
    width: 24%;
    display: flex;
    flex-direction: column;
    color: white;
}

.endpointsFooter h2 {
    font-family: Arial, Helvetica, sans-serif;
}


.endpointsFooter a {
    padding: 10px;
    color: grey;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

.endpointsFooter a:hover {
    color: #D3F200;
    transition: 0.5s;
}

.endpointsFooter p {

    display: flex;
    gap: 5px;
    height: 20px;
    align-items: center;
}


#footer-social-medias {
    display: flex;
    gap: 5px;

}

.social-media-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;

    background-color: #D3F200;
    transition: 0.5s;

}

.social-media-icon:hover {
    transform: translateY(-5px);
    background-color: #d2f200a0;
    cursor: pointer;
    transition: 0.5s;
}
















#bottomFooter {
    width: 100%;
    border-top: 1px solid gray;
    height: 40px;
}

#bottomFooter p {
    color: white;

}



@media(max-width:900px) {
    .social-media-icon {
        width: 40px;
        height: 40px;
    }

    #footer-logo {
        width: 20%;
        height: 150px;
    }

    #topFooter {
        gap: 10px;
        flex-wrap: wrap;
    }

}

@media(max-width:800px) {
    #topFooter {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .endpointsFooter {
        width: 100%;
        align-items: center;
    }

    #footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }

    #bottomFooter {
        height: 60px;
    }
}



@media(max-width:500px) {
    .social-media-icon {
        width: 30px;
        height: 30px;
    }

    .endpointsFooter h2 {
        font-size: 1rem;
    }

    .endpointsFooter a {
        font-size: 0.8rem;
    }

    .endpointsFooter p {
        font-size: 0.8rem;
    }
}