#mainNavbar {
    width: 100%;
    position: absolute;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 10000;
}

.activeEndpoint {
    color: #D3F200 !important;
}

#navbar {
    width: 90%;
    background-color: black;
    height: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

#logo-wrapper {
    width: 10%;
    height: 100px;
    cursor: pointer;
}


#logo {
    width: 100%;
    height: 100%;
}

#sidebar-logo-wrapper {
    display: none;
}

#endpoints {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100px;

}

#endpoints a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.6s;

}

#endpoints a:hover {
    color: #D3F200;
    transition: 0.6s;
}










#navbarCtas {
    display: flex;
    height: 100px;
    align-items: center;
    gap: 15px;
}


#navbarCtas div {
    width: 210px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#firstCta {
    background-color: #1f1f1f;
    transition: 0.6s;

    color: #D3F200;
}


#secondCta {
    background-color: #D3F200;
    transition: 0.6s;

    color: #1f1f1f;
}

#firstCta:hover {
    background-color: #D3F200;
    color: #1f1f1f;
    cursor: pointer;
    transition: 0.6s;
}

#secondCta:hover {
    background-color: #d2f200a4;
    cursor: pointer;
    transition: 0.6s;


}

#mobileCtas {
    display: none;
}



#toggle-wrapper {
    color: white;
    background-color: black;
    border: none;

    height: 100px;
    display: none;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-tap-highlight-color: transparent;
}



#toggle {
    font-size: 2rem;
}

@media(max-width:1100px) {

    #sidebar-logo-wrapper {
        display: block;
    }

    #sidebar-logo-wrapper {
        width: 25%;
        height: 100px;
        cursor: pointer;
    }


    #sidebar-logo {
        width: 100%;
        height: 100%;
    }

    #mobileCtas {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px 0;
    }

    #mobileCtas div {
        width: 100%;
        margin: 0 auto;
        height: 45px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        transition: 0.6s;
    }

    #mobileCtas #firstCta {
        background-color: #1f1f1f;
        color: #D3F200;
    }

    #mobileCtas #firstCta:hover {
        background-color: #D3F200;
        color: #1f1f1f;
    }

    #mobileCtas #secondCta {
        background-color: #D3F200;
        color: #1f1f1f;
    }

    #mobileCtas #secondCta:hover {
        background-color: #d2f200a4;
    }

    #logo-wrapper {
        width: 12%;
    }


    #toggle-wrapper {
        display: flex;
        width: 100px;
        justify-content: center;
        cursor: pointer;
    }

    #navbarCtas {
        display: none;
    }

    #navbar {
        justify-content: space-between;
    }

    #endpoints {
        position: fixed;
        flex-direction: column;
        background-color: black;
        z-index: 1000;
        width: 50%;
        height: 100vh;
        top: 0;
        text-align: center;
        transition: 0.6s;
        opacity: 0;

        left: -50%;
    }

    #endpoints a {
        display: block;
        border-bottom: 1px solid gray;
        width: 100%;
        font-size: 1.5rem;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    #endpoints.active {
        opacity: 1;
        left: 0;
        transition: 0.6s;
    }


}

@media(max-width:800px) {
    #logo-wrapper {
        width: 16%;
    }

    #endpoints a {
        font-size: 1rem;
    }
}

@media(max-width:700px) {
    #sidebar-logo-wrapper {
        width: 35%;

    }
}

@media(max-width:600px) {

    #navbar {
        height: 80px;
    }

    #logo-wrapper {
        width: 16%;
        height: 80px;
    }

    #toggle-wrapper {
        height: 80px;
    }

    #mobileCtas {
        width: 80%;
    }
}


@media(max-width:500px) {
    #sidebar-logo-wrapper {
        width: 45%;

    }
}


@media(max-width:400px) {
    #logo-wrapper {
        width: 28%;
    }

    #sidebar-logo-wrapper {
        width: 55%;

    }

    #mobileCtas div {
        font-size: 0.8rem;
    }
}