#mainStatistic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

#statistic-wrapper {
    width: 80%;
    height: 200px;
    background-color: black;
    display: flex;
    border-radius: 40px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.statistic {
    width: 30%;
    height: 150px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 20px;
    gap: 0;
    transition: 0.6s;

}

.statistic h1 {
    font-size: 2.5rem;
}

.statistic:hover {
    color: black;
    background-color: #D3F200;
    transition: 0.6s;
}

@media(max-width:800px) {
    #statistic-wrapper {
        width: 95%;
    }

}

@media(max-width:500px) {
    .statistic {
        height: 100px;
    }

    .statistic h1 {
        font-size: 1.5rem;
    }

    #statistic-wrapper {
        height: 150px;
        gap: 8px;
    }

    #mainStatistic {
        min-height: 400px;
    }

}